<h3>Create a New Board</h3>

<form>
  <input type="hidden"
         name="board[user_id]">
  
  <label>
    Board Title
    <input type='text' name='board[title]'>
  </label>

  <input type='submit'>
</form>

<a href="">All Boards<a>